body {
  background-image: url('/assets/wallpaper.png');
  background-size: cover;       /* cobre toda a tela */
  background-position: center;  /* centraliza */
  background-repeat: no-repeat; /* evita repetir */
}