<div class="header"> <img src="/assets/logo.svg">
    <div class="nav-links">
        <img src="/assets/logo-facebook.svg">
        <img src="/assets/logo-twitter.svg">
        <img src="/assets/logo-instagram.svg">
        <img src="/assets/logo-google.svg">
    </div>
</div>
<div class="conteudo">
    <div class="titulo-chapeu">
        Hayao Miyazaki
    </div>
    A viagem de Chihiro
    Chihiro chega a um mundo mágico dominado por uma bruxa. Aqueles que a desobedecem são transformados em animais.
    <button>Assistir Agora</button>
    <button>Assista o trailer</button>
</div>