<div class="container">
    <div class="header">
        <img src="/logo.svg" alt="Logo">
        <div class="links">
            <img src="/logo-google.svg" alt="Google">
            <img src="/logo-facebook.svg" alt="Facebook">
            <img src="/logo-twitter.svg" alt="Twitter">
            <img src="/logo-instagram.svg" alt="Instagram">
        <!-- aqui seria legal colocar que quando o mouse passa por cima muda para o dedo -->
        </div>
    </div> 

<div class="conteudo">
    <div class="titulo-chapeu">
        Hayao Miyazaki
    </div>
    A viagem de Chihiro
    Chihiro chega a um mundo mágico dominado por uma bruxa. Aqueles que a desobedecem são transformados em animais.
    <button>Assistir Agora</button>
    <button>Assista o trailer</button>
    <img src="/image.svg" alt="Chihiro">
</div>

