<div class="container">
    <div class="header">
        <img src="/logo.svg" alt="Logo">
        <div class="links">
            <button class="link"> <img src="/logo-google.svg" alt="Google"> </button>
            <button class="link"> <img src="/logo-facebook.svg" alt="Facebook"> </button>
            <button class="link"> <img src="/logo-twitter.svg" alt="Twitter"> </button>
            <button class="link"> <img src="/logo-instagram.svg" alt="Instagram"> </button>
        </div>
    </div> 

<div class="conteudo">
    <div class="titulo-chapeu">
        Hayao Miyazaki
        <div class="titulo">
        A VIAGEM <br> DE CHIHIRO
        </div>
        <div class="descricao">
            Chihiro chega a um mundo mágico dominado por uma bruxa. Aqueles que a desobedecem são transformados em animais.
        </div>
        <div class="botoes">
            <button class="play"> <img src="/Play.svg"> ASSISTIR AGORA</button>
        <button class="trailer">ASSISTA O TRAILER</button>
        </div>
    </div>  
        <img src="/image.svg" alt="Chihiro" id="chihiro">
</div>

