.header {
    width: 1115px;
    height: 176px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    bottom: 48px;
}

img {
    padding: 10px
}

.conteudo {
    width: 1115px;
    height: 176px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.titulo-chapeu {
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    font-size: x-large;
}